<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>

    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/sidebar.css">
</head>

<body>
    <header class="header"><%- include('../partials/_header') %></header>
    <nav class="sidebar"><%- include('../partials/_sidebar') %></nav>
    
    <main>
        <section class="media-grid">
            <% data.forEach(element => { %>
                <div>
                    <div class="thumbnail-row">
                        <a target="_blank" rel="noopener noreferrer" href= <%= element.viewer + "-viewer?type=" + element.type + "&img=" + element.name %> >
                            <img class="thumbnail" src= <%= "media/thumbnails/" + element.name + ".webp" %> alt="Drone Media Here">
                        </a>
                    </div>



                    <div class="media-info-grid">
						<div class="author-picture">
							<img class="profile-picture" src="media/author_pictures/elias.webp" alt="Channel Picture Here">
						</div>
						<div>
							<p class="media-title"><%= element.location %>  &#183; <%= element.region %> &#183; <%= element.country %></p>
                            <p class="media-stats"><%= element.dateTime %>  &#183; <%= element.altitude %> </p>
							<p class="media-stats"> 
                                    <%= element.author %>
                                    <%= element.latitude %> 
                                    <%= element.longitude %> 
                                    
                                    <%= element.postalCode %> 
                                    <%= element.road %> 
                                    <%= element.noViews %> 
                            </p>
							<p id="media-counter"></p>
						</div>
					</div>
                

                </div>
            <% }) %>
        </section>
    </main>

</body>
</html>