<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>

    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/sidebar.css">
</head>

<body>
    <header class="header"><%- include('../partials/_header') %></header>
    <nav class="sidebar"><%- include('../partials/_sidebar') %></nav>
    
    <main>
        <section class="media-grid">
            <% data.forEach(element => { %>
                <div>
                    <div class="thumbnail-row">
                        <a target="_blank" rel="noopener noreferrer" href= <%= element.viewer + "-viewer?type=" + element.type + "&img=" + element.actualUrl %> >
                            <img class="thumbnail" src=<%- element.thumbnailUrl %> alt="Drone media thumbnail here">
                        </a>
                    </div>
                    <div class="media-info-grid">
						<div class="author-picture">

                            <img class="profile-picture" src=<%= element.author %> alt="Channel picture here">
						</div>
						<div>
							<p class="media-title"><%= element.location %> &#183; <%= element.region %> &#183; <%= element.country %></p>
                            <p class="media-stats"><%= element.dateTime %> </p>
                            <p class="media-stats">Altitude: <%= element.altitude %><%= element.road %></p>
							<p class="media-stats">Coordinates: <%= element.latitude %>, <%= element.longitude %></p>
							<!-- <p id="media-counter"><%= element.noViews %> Views</p> TODO --> 
						</div>
					</div>
                </div>
            <% }) %>
        </section>
    </main>

</body>
</html>