<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>

    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/sidebar.css">
</head>

<body>
    <header class="header"><%- include('../partials/_header') %></header>
    <nav class="sidebar"><%- include('../partials/_sidebar') %></nav>
    
    <main>
        <section class="media-grid">
            <% data.forEach(element => { %>
                <div>
                    <div class="thumbnail-row">
                        <a target="_blank" rel="noopener noreferrer" href= <%= element.viewer + "-viewer?type=" + element.type + "&img=" + element.file %> >
                            <img class="thumbnail" src= <%= "media/thumbnails/" + element.file + ".webp" %> alt="Drone Media Here">
                        </a>
                    </div>



                    <div class="media-info-grid">
						<div class="author-picture">
							<img class="profile-picture" src="media/author_pictures/elias.webp" alt="Channel Picture Here">
						</div>
						<div>
							<p class="media-title">Zürich &#183; Switzerland</p>
							<p class="media-stats">2022-11-06 &#183; 11:41</p>
							<p id="media-counter"></p>
						</div>
					</div>

                    

                </div>
            <% }) %>
        </section>
    </main>

</body>
</html>